.carItem {
    width: 300px;
    height: 340px;
    border: 1px #EAC1BF solid;
    border-radius: 16px;
    background-color: #fff;
    margin-top: 30px;
    list-style: none;
    z-index: 1500;
    

    img {
        width: 250px;
        height: 170px;
        margin-top: 22px;
        border: 1px #EAC1BF solid;
    }
}