<header class="header">
  <div class="wrap">
      <div><img src="./assets/header/burger.svg" alt="Кнопка меню"/></div>
      <p class="head_title">Car Shop</p>
      <ul class="nav">
          <li class="nav_item"><a href=""><img src="./assets/header/search.svg" alt="Кнопка поиска"/></a></li>
          <li class="nav_item"><a href=""><img src="./assets/header/rectangle.svg" alt="Логотип?)"/></a></li>
      </ul>
  </div>
</header>
<div class="wrap">
  <app-cars class="carList"></app-cars>
</div>